.accordion {
    & > :not(:last-child) {
        margin-bottom: 33px;

        @media (max-width:1024px) {
            margin-bottom: 16px;
        }
    }

    // .accordion__item

    &__item {
        background-color: $green;
        padding: 20px;

        border-radius: 10px;

        @media (max-width:1024px) {
            border-radius: 5px;
            padding: 15px;
        }

        &[data-open] {
            .accordion__item-content {
                grid-template-rows: 1fr;
            }

            .accordion__item-title {
                button {
                    transform: rotate(90deg);

                }
            }

            ._btn {
                margin: 25px 0;
            }
        }

        // .accordion__item-title

        &-title {
            width: 100%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            cursor: pointer;

            color: $white;
            @include adaptive-value('font-size', 36, 12, 1);
            font-style: normal;
            font-weight: 500;
            line-height: 1.17;
            text-transform: uppercase;

            @media (max-width:1024px) {
                font-weight: 400;
            }

            @media (any-hover: hover) {
                &:hover {
                    button {
                        transform: rotate(90deg);
                    }
                }
            }

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 55px;
                height: 55px;

                @media (max-width:1024px) {
                    width: 35px;
                    height: 35px;
                }

                img,
                picture,
                svg {
                    object-fit: contain;
                    width: 18px;
                    height: 18px;

                    @media (max-width:1024px) {
                        width: 14px;
                        height: 14px;
                    }
                }

                transform: rotate(-90deg);
                transition: all 0.3s ease 0s;
            }

            * {
                pointer-events: none;
            }

            @media (any-hover: hover) {
                &:hover {
                    svg {
                        transform: rotate(45deg);
                    }
                }
            }

            svg {
                width: 20px;
                height: 20px;
                stroke: currentColor;
                transition: all 0.3s ease 0s;
            }
        }

        // .accordion__item-content

        &-content {
            display: grid;
            grid-template-rows: 0fr;
            transition: grid-template-rows 0.3s;

            // .accordion__item-content-height

            &-height {
                overflow: hidden;
                color: $white;

                div {
                    margin-top: 20px;
                }

                // ol {
                //     & > :not(:last-child) {
                //         border-bottom: 1px solid $stroke;
                //     }

                //     li {
                //         padding: 20px 0;

                //         @media (max-width: 768px) {
                //             padding: 15px 0;
                //         }
                //     }
                // }
            }
        }
    }

    // .accordion__open

    &__open {}

    ._btn {
        width: 100%;
    }
}