.footer {
    background-color: $green;
    @include adaptive-value('margin-top', 190, 80, 1);
    color: $white;

    // .footer__container

    &__container {}

    // .footer__body

    &__body {}

    // .footer__top

    &__top {
        display: flex;
        justify-content: space-between;
        @include adaptive-value('padding-top', 80, 40, 1);
        @include adaptive-value('padding-bottom', 80, 40, 1);
        gap: 40px;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;

        @media (max-width:1024px) {
            flex-wrap: wrap;
            gap: 40px;
            font-size: 16px;
        }

        @media (max-width:768px) {
            flex-direction: column;
        }

        a {
            white-space: nowrap;

            img,
            svg,
            label,
            span {
                pointer-events: none;
            }
        }

        @media (max-width:768px) {
            br {
                display: none;
            }
        }
    }

    // .footer__column

    &__column {
        display: flex;
        flex-direction: column;

        &.contacts {
            & > :not(:last-child) {
                margin-bottom: 10px;
            }

            span {
                margin-bottom: 20px !important;
            }
        }

        &.offices {
            a {
                margin-top: 10px;
            }
        }

        span {
            font-size: 16px;
            font-weight: 700;
            line-height: 0.9;
            text-transform: uppercase;
            display: block;
            margin-bottom: 20px;

            @media (max-width:1024px) {
                font-size: 14px;
            }
        }

        a {
            display: flex;
            align-items: center;
            gap: 5px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            svg,
            img,
            picture {
                width: 18px;
                height: 18px;

                @media (max-width:768px) {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    // .footer__logocolumn

    &__logocolumn {

        div {
            display: flex;
            gap: 20px;
            @include adaptive-value('margin-top', 65, 20, 1);

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $black;
                width: 50px;
                height: 50px;
                border-radius: 10px;

                img,
                svg,
                picture {
                    width: 30px;
                    height: 30px;
                    fill: $white;
                }
            }
        }
    }

    // .footer__logo

    &__logo {
        display: block;
        margin-bottom: 20px;

        img,
        picture,
        svg {
            object-fit: contain;
            height: 66px;

        }
    }

    nav {
        ul {
            li {
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

            }
        }
    }

    // .footer__bottom

    &__bottom {
        position: relative;

        &:after {
            position: absolute;
            content: '';
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
            width: 100vw;
            height: 100%;
            background-color: $black;
            pointer-events: none;
        }

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 24px 0;

        color: $white;
        font-size: 10px;
        font-weight: 400;
        line-height: 1.2;

        @media (max-width:1024px) {
            padding: 40px 0;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 20px;
        }

        span,
        a {
            position: relative;
            z-index: 1;
        }
    }
}


._container {}

.wh {}

.tg {}

.yt {}