.section {
    @include adaptive-value('margin-top', 60, 30, 1);
    position: relative;

    // .section__bgi

    &__bgi {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        img,
        picture {
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
    }

    // .section__container

    &__container {}

    // .section__body

    &__body {}

    // .section__flex

    &__flex {
        display: flex;
        justify-content: space-between;
    }

    h2 {
        margin-bottom: 36px;

        @media (max-width:1024px) {
            margin-bottom: 15px;
        }

        label {
            color: $black;
        }
    }
}



.steps {


    .section__flex {
        gap: 16px;

        @media (max-width:1024px) {
            flex-direction: column;
            border-radius: 10px;
            background-color: $gray;
            padding: 15px;
        }
    }

    h2 {
        margin-bottom: 25px;

        @media (max-width:768px) {
            display: none;
        }
    }

    ol {


        @media (min-width:1025px) {
            border-radius: 15px;
            background-color: $gray;
            padding: 25px;
        }

        li {
            display: flex;
            align-items: center;
            gap: 18px;
            padding-bottom: 16px;

            &:not(:last-child) {
                margin-bottom: 20px;

                @media (min-width:1025px) {
                    border-bottom: 2px solid $black;

                }
            }

            @media (max-width:1024px) {
                background-color: #fff;
                height: 148px;
                padding: 20px;
                gap: 10px;
                border-radius: 10px;
            }

            img,
            picture,
            svg {
                width: 36px;
                height: 36px;
                object-fit: contain;
            }

            span {
                font-size: 16px;
                font-weight: 500;
                line-height: 1.1;
                text-transform: uppercase;
            }
        }
    }

    // .steps__offers

    &__offers {
        display: flex;
        justify-content: space-between;
        gap: 23px;
        flex: 1 1 auto;

        @media (max-width:768px) {
            flex-direction: column;
            gap: 10px;
        }

        div {
            min-width: 280px;
            width: 100%;
            height: 400px;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            gap: 10px;
            padding: 20px;
            border-radius: 10px;
            overflow: hidden;

            position: relative;

            @media (max-width:768px) {
                height: 326px;
            }

            img,
            picture {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                pointer-events: none;
            }

            h3 {
                color: $white;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 165%;
                text-transform: uppercase;
            }

            h3,
            ._btn {
                position: relative;
                z-index: 1;
            }

            ._btn {
                justify-content: space-between;
            }

            svg {
                width: 15px;
                height: 15px;

                @media (max-width:425px) {
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.calc {

    h2 {
        margin-bottom: 60px;

        @media (max-width:1024px) {
            @include adaptive-value('margin-bottom', 60, 10, 1);
        }
    }

    .section__flex {
        gap: 36px;

        @media (max-width:1024px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    .section__flex-left {
        display: flex;
        flex-direction: column;

        img,
        picture {
            width: 100%;
            border-radius: 10px;
            overflow: hidden;
            pointer-events: none;
            flex: 1 1 auto;
            object-fit: cover;

            @media (max-width:1024px) {
                margin-top: 15px;
            }
        }

        p {
            font-weight: 500;
            line-height: 1.6;
            @include adaptive-value('font-size', 22, 14, 1);
            @include adaptive-value('margin-bottom', 45, 15, 1);



            label {
                font-weight: 700;
            }
        }
    }

    .section__flex-right {
        background-color: $gray;
        border-radius: 10px;
        overflow: hidden;
        padding: 50px 70px;
        width: 100%;

        @media (max-width:1024px) {
            padding: 30px 40px;
        }


        p {
            font-size: 19px;
            font-style: normal;
            font-weight: 700;
            line-height: 1.65;

            @media (max-width:1024px) {
                font-size: 14px;
                margin-top: 20px;
            }

            label,
            span {
                font-weight: 500;
            }
        }

        ._btn {
            margin-top: 40px;
            width: 73%;
            @include adaptive-value('font-size', 20, 14, 1);

            @media (max-width:1024px) {
                margin-top: 25px;
            }

        }
    }

    // .calc__box

    &__box {
        margin-bottom: 20px;

        @media (max-width:1024px) {
            margin-bottom: 15px;
        }

        &._range-box {
            h4 {
                margin-bottom: 30px;

                @media (max-width:1024px) {
                    margin-bottom: 15px;
                }
            }

            p {
                padding-inline: 4px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;

                @media (max-width:1024px) {
                    margin-top: 5px;
                }

                span {
                    font-weight: 400;
                    font-size: 16px;


                    @media (max-width:1024px) {
                        font-size: 14px;
                    }
                }
            }


            .range {
                -webkit-appearance: none;
                width: 100%;
                height: 6px;
                background: $green;
                outline: none;
                -webkit-transition: .2s;
                transition: opacity .2s;
                border-radius: 4px;

                @media (max-width:1024px) {
                    height: 3px;
                }

                &::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    appearance: none;
                    width: 22px;
                    height: 22px;
                    background: $green;
                    cursor: pointer;
                    border-radius: 50%;

                    @media (max-width:1024px) {
                        width: 14px;
                        height: 14px;
                    }
                }

                &::-moz-range-thumb {
                    width: 22px;
                    height: 22px;
                    background: $green;
                    cursor: pointer;
                    border-radius: 50%;

                    @media (max-width:1024px) {
                        width: 14px;
                        height: 14px;
                    }
                }

            }

            .bubble {
                width: 32px;
                height: 20px;
                cursor: pointer;
                border-radius: 50%;
                position: absolute;
                top: -1.5em;
                transform: translateX(-50%);
                text-align: center;


                @media (max-width:1024px) {
                    top: -1em;
                    font-size: 14px;
                }

            }

        }

        div {
            max-width: 360px;
            width: 100%;
            position: relative;
        }

        h4 {
            margin-bottom: 10px;
            font-size: 19px;
            font-weight: 700;
            line-height: 1.65;

            @media (max-width:1024px) {
                font-size: 14px;
            }
        }

        label {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            gap: 10px;
            width: fit-content;
            cursor: pointer;
            white-space: nowrap;
            margin-bottom: 10px;

            @media (max-width:1024px) {
                gap: 5px;
            }

            span {
                font-size: 16px;

                @media (max-width:1024px) {
                    font-size: 14px;
                }
            }
        }

        input[type="radio"] {
            display: none;
        }

        input[type="checkbox"] {
            display: none;
        }

        .checkbox,
        .radio {
            flex: 0 0 auto;
            border: 1px solid $green;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            flex: 0 0 auto;

            @media (max-width:1024px) {
                width: 15px;
                height: 15px;
            }
        }

        input:checked + .checkbox {
            border-width: 6px;

            @media (max-width:1024px) {
                border-width: 4px;
            }
        }

        select {
            border-radius: 22px;
            border: 3px solid $green;
            width: 100%;
            padding: 10px 15px;

            appearance: none;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjMiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMyAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTExLjQ1NjkgMC4yNzExMTNMMTEuNDU2OSAxOC42Mjg1TTExLjQ1NjkgMTguNjI4NUwyIDkuMTcxNjhNMTEuNDU2OSAxOC42Mjg1TDIwLjkxMzcgOS4xNzE2OCIgc3Ryb2tlPSIjNkI5RTIzIiBzdHJva2Utd2lkdGg9IjMuMzM3NzEiLz4KPC9zdmc+Cg==");
            background-repeat: no-repeat;
            background-position: right 0.7rem top 50%;
            background-size: 1rem auto;
            cursor: pointer;

            @media (max-width:1024px) {
                font-size: 14px;
            }
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: fit-content;
        }

    }
}


.projects {

    .grid {
        @media (min-width:1025px) {
            grid-template-columns: repeat(4, 1fr);
            @include adaptive-value('gap', 36, 10, 1);
        }

        @media (max-width:1024px) {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            width: 100vw;
            padding-inline: 10px;
            margin-left: -10px;

            overflow-x: auto;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .sale {
        display: flex;
        align-items: flex-end;
        position: relative;
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        gap: 20px;


        @media (min-width:1025px) {
            // aspect-ratio: 1/2;
            grid-column: span 2;
            grid-row: span 2;
        }

        @media (max-width:1024px) {
            flex: 0 0 auto;
            width: 370px;
            justify-content: space-between;
        }

        @media (any-hover: hover) {
            &:hover {
                p {
                    background-color: $black;
                    color: $white;
                }
            }
        }

        img,
        picture {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }

        p {
            position: relative;
            z-index: 1;
            border-radius: 15px;
            padding: 25px;
            background-color: $white;

            color: $green;
            font-style: normal;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;

            transition: all 0.3s ease 0s;

            @media (min-width:1025px) {
                @include adaptive-value('font-size', 24, 14, 1);
            }

            @media (max-width:1024px) {
                border-radius: 10px;
                padding: 15px;
                font-size: 14px;
            }
        }

        div {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            flex: 0 0 46px;
            width: 46px;
            height: 46px;
            background-color: $white;
            transition: all 0.3s ease 0s;

            img,
            svg,
            picture {
                width: 15px;
                height: 15px;
                stroke: $green;
                stroke-width: 3px;
                transition: all 0.3s ease 0s;
            }

            display: none;

            @media (max-width:1024px) {
                display: flex;
            }
        }
    }


}


.advantages {

    h2 {
        max-width: 88%;
    }

    .grid {

        @media (min-width:1025px) {
            @include adaptive-value('gap', 90, 15, 1);
        }

        @media (max-width:1024px) {
            gap: 22px;
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width:768px) {
            grid-template-columns: 1fr;
        }
    }
}


.smeta {
    position: relative;

    &:after {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.32);
        pointer-events: none;
    }

    .section__body {
        @include adaptive-value('padding-top', 70, 30, 1);
        @include adaptive-value('padding-bottom', 160, 30, 1);

        position: relative;
        z-index: 1;

        display: flex;
        flex-direction: column;
        @include adaptive-value('gap', 60, 20, 1);

    }

    h5 {
        display: block;
        color: $white;
        @include adaptive-value('font-size', 60, 22, 1);
        font-weight: 700;
        line-height: 0.9;
        text-transform: uppercase;
    }

    p {
        display: block;
        color: $white;
        @include adaptive-value('font-size', 29, 14, 1);
        font-style: normal;
        font-weight: 500;
        line-height: 1;
        max-width: 1130px;
        width: 100%;


    }


    .form {
        max-width: 662px;


        @media (max-width:1024px) {
            margin-top: 50px;
            max-width: 80%;
        }
    }

}

.video {
    position: relative;

    h2 {

        @media (min-width:1025px) {
            padding-left: 100px;
        }
    }

    .section__container {
        max-width: 1500px;
        width: 100%;
        margin-inline: auto;
        padding-inline: 10px;
    }

    .section__flex {
        gap: 30px;
        align-items: center;
        width: 100%;
        position: relative;

        @media (max-width:1024px) {
            display: block;
        }

    }

    .swiper {
        @media (min-width:1024px) {
            width: calc(100% - 200px);
        }

        @media (max-width:1024px) {
            width: 100%;
        }
    }

    .swiper-slide {
        height: auto;

        a {
            display: block;
            border-radius: 10px;
            overflow: hidden;
            height: 236px;

            img,
            picture,
            iframe,
            video {
                width: 100%;
                height: 100%;
                pointer-events: none;
                object-fit: cover;
            }
        }



    }


    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (min-width:1025px) {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }

        @media (max-width:1024px) {
            margin-top: 10px;
            gap: 10px;
        }

        .prev,
        .next {
            background-color: $green;

            @media (min-width:1025px) {
                width: 70px;
                height: 70px;

                svg,
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

    }

    .pagination {
        position: relative;
        z-index: 2;

        @media (min-width:1025px) {
            display: none;
        }

        span {

            &:after {
                background-color: $green;
            }
        }
    }

}

.download {

    .grid {
        position: relative;
        gap: 40px;

        @media (max-width:1024px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }

    // .download__content

    &__content {

        @media (min-width:1025px) {
            width: fit-content;
            height: fit-content;

            background-color: $green;
            border-radius: 10px;
            padding: 15px 70px;
            color: $white;
            font-size: 29px;
            font-weight: 500;
            line-height: 1.2;
            text-transform: uppercase;
        }

        @media (max-width:1024px) {
            color: $green;
            font-size: 22px;
            font-weight: 700;
            line-height: 1.2;
            text-transform: uppercase;
        }


    }

    ._btn {
        width: 100%;
        height: fit-content;

        @media (min-width:1025px) {
            position: absolute;
            left: 0;
            bottom: 0;
            max-width: 440px;
        }

        @media (max-width:1024px) {
            background-color: $green;
            color: $white;
            width: 100%;
        }
    }

    // .download__img

    &__img {

        @media (max-width:425px) {
            height: 246px;
        }

        img,
        picture {
            pointer-events: none;
            object-fit: cover;
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }

    }
}

.certificate {
    position: relative;

    h2 {

        @media (min-width:1025px) {
            padding-left: 100px;
        }
    }

    .section__container {
        max-width: 1500px;
        width: 100%;
        margin-inline: auto;
        padding-inline: 10px;
    }

    .section__flex {
        gap: 30px;
        align-items: center;
        width: 100%;
        position: relative;

        @media (max-width:1024px) {
            display: block;
        }

    }

    .swiper {
        @media (min-width:1024px) {
            width: calc(100% - 200px);
        }

        @media (max-width:1024px) {
            width: 100%;
        }
    }

    .swiper-slide {
        height: auto;

        a {
            display: block;
            border-radius: 10px;
            overflow: hidden;
            border: 3px solid $green;
            cursor: pointer;

            @media (max-width:1024px) {
                border: 2px solid $green;
            }

            img,
            picture,
            iframe,
            video {
                width: 100%;
                height: 100%;
                pointer-events: none;
                object-fit: cover;
            }
        }



    }


    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        @media (min-width:1025px) {
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 50%;
        }

        @media (max-width:1024px) {
            margin-top: 10px;
            gap: 10px;
        }

        .prev,
        .next {
            background-color: $green;

            @media (min-width:1025px) {
                width: 70px;
                height: 70px;

                svg,
                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

    }

    .pagination {
        position: relative;
        z-index: 2;

        @media (min-width:1025px) {
            display: none;
        }

        span {

            &:after {
                background-color: $green;
            }
        }
    }


}

.banks {
    .grid {
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 5px solid $green;
            border-radius: 10px;
            height: 142px;
            padding: 25px;

            @media (max-width:1024px) {
                height: 88px;
                border-width: 2px;
            }

            img,
            picture {
                pointer-events: none;
                object-fit: contain;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.contacts {

    .grid {
        gap: 63px;

        @media (max-width:1200px) {
            gap: 20px;
        }

        @media (max-width:1024px) {
            grid-template-columns: 1fr;
        }
    }
}